.mainDiv{
    margin-top: 160px;
    margin-left: 112.625px;
    display: flex;
    flex-direction: row;
}
.mainDiv2{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
}
.userIconSkeleton{
    width: 85px;
    height: 85px;
    border-radius: var(--radius-30);
}
.userNameSkeleton{
    width: 50px;
    border-radius: var(--radius-10);
}
.rightDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85px;
    margin-left: 5px;
}
.rightDiv>*{
        margin: 2px 0;
    }
.studyCard{
    width: 321px;
    height: 246px;
    border-radius: var(--radius-10);
    margin: 16px 20px 16px 20px;
}
.studyCardWrapper{
    display: flex;
    flex-direction: row;
}
.studyContentsWrapper{
    width: 600px;
    margin: 60px auto 0 auto;
}
.studyContentsH2{
    width: 200px;
    height: 24px;
}
.studyContentsFlexCenter{
    width: 100px;
    margin: 60px auto 68px auto;
}
.studyContentsTree{
    height: 100px;
}
.studyContentsH4{
    width : 150px;
    height: 21px;
}
.studyContentsTextarea{
    margin: 20px auto;
    width: 270px;
    padding: 10px;
}
.studyContentsP{
    margin: 5px 0;
    width: 50px;
    height: 18px;
}
.divide{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.divide >div {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.studyContentsWeek{
    width: 170px;
    height: 28px;
    border-radius: 40px;
}
.studyContentsNotice{
    margin-top: 5px;
    width: 200px;
    height: 28px;
    border-radius: var(--radius-30);
}
.studyContentsMember{
    margin-top: 5px;
    width: 200px;
    height: 38px;
    border-radius: 50px;
}