<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OAuth2 + JWT My page</title>
</head>
<body>
<h2>My Page</h2>
<h3>아래의 토큰을 이용해서 Backend 애플리케이션의 리소스를 요청할 수 있습니다.</h3>
<p>
    <span>Access Token: </span><span id="accessToken" style="color: blue"></span>
</p>
<p>
    <span>Refresh Token: </span><span id="refreshToken" style="color: blue"></span>
</p>
<script type="text/javascript">
    // var httpRequest = new XMLHttpRequest();
    // httpRequest.onreadystatechange = function () {
    //     if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
    //         document.getElementById("accessToken").innerHTML = httpRequest.responseText;
    //         document.getElementById("header").innerHTML = httpRequest.getAllResponseHeaders();
    //         document.getElementById("test1").innerHTML = httpRequest.getResponseHeader("Authorization");
    //         document.getElementById("test2").innerHTML = httpRequest.getResponseHeader("Refresh");
    //     }
    // };
    // httpRequest.open("GET", "receive-token.html", true);
    // httpRequest.open("POST", "receive-token.html", true);
    // httpRequest.send();

    // URL에서 토큰값 추출
    let accessToken = window.location.search.split("=")[1].split("&")[0];
    accessToken = accessToken.replace("%20", " ").trim();
    let refreshToken = window.location.search.split("=")[2];

    // URL 저장
    localStorage.setItem("accessToken", accessToken)
    localStorage.setItem("refreshToken", refreshToken)

    document.getElementById("accessToken").textContent = accessToken;
    document.getElementById("refreshToken").textContent = refreshToken;

    // 메인 화면으로 이동
    // window.location.href = "/"
</script>
</body>
</html>